.image-container {
  padding-top: 70px;
  text-align: center;
  background-image: url("https://cdn.clipart.email/cff7cca5b2748733c342834249e20455_white-pattern-backgrounds-barbaras-hd-wallpapers_2560-1440.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.business-name {
  text-align: center;
  margin-top: 36px;
  color: #1d3557;
  font-family: fantasy;
}
.card-text b {
  font-family: fantasy;
  color: #1d3557;
}
.card-text {
  font-family: fantasy;
  color: #3a7ac3;
}
.loding-gif {
  margin-top: 100px;
}
.business-details {
  margin: 0 auto;
  width: 100%;
}
.business-picture {
  height: 404px;
}
.back-arrow img {
  height: 35px;
  float: right;
  margin-bottom: 5px;
  cursor: pointer;
}
