.imageContainer {
  padding-top: 140px;
  text-align: center;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/spikes.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.businessName {
  text-align: center;
  margin-top: 36px;
  color: #1d3557;
}
.card-text b {
  font-family: fantasy;
  color: #1d3557;
}
.card-text {
  font-family: fantasy;
  color: #3a7ac3;
}
.businessName {
  font-family: fantasy;
}
.lodingGif {
  margin-top: 100px;
}
