.wrapper {
  text-align: center;
  background-image: url("https://cdn.clipart.email/cff7cca5b2748733c342834249e20455_white-pattern-backgrounds-barbaras-hd-wallpapers_2560-1440.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.user-input {
  padding-top: 36px;
}
.search-button {
  margin-left: 3px;
  border-radius: 5px;
  border: 1px solid #1d3557;
  height: 30px;
  color: #1d3557;
  background-color: white;
}
.search-button:hover {
  margin-left: 3px;
  border-radius: 5px;
  border: 1px solid #1d3557;
  height: 30px;
  color: white;
  background-color: #1d3557;
}
.container {
  margin-top: 36px;
}
.card {
  margin: 10px 15px;
  min-height: 192px;
  min-width: 300px;
  position: relative;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 3px 0px rgba(0, 0, 0, 0.12);
}
.card-title b {
  color: #1d3557;
  margin: auto;
  font-family: fantasy;
}
.distance-marker {
  margin-top: 12px;
  color: #1d3557;
  border-top: 1px solid #00b4d8;
  width: 50%;
  margin: 0 auto;
  padding: 20px auto;
  text-decoration: none;
}
