.navbar {
  background-color: #e3f2fd;
}
.navbar-brand {
  font-family: fantasy;
  color: #00b4d8 !important;
  margin-top: 12px;
}
.nav-link {
  font-family: fantasy;
  color: #00b4d8 !important;
  margin-top: 12px;
}
